@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap");


.all-content {
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 50px;
}


.container-password {
    width: 50%;
    height: 50%;
    margin: 50px auto;
    padding: 20px;
}

.Pass-word{
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.change-p {
    margin-bottom: 20px;
    color: rgba(152, 162, 179, 1);
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.form-text {
    margin-top: -10px;
    margin-bottom: 20px;
    color: rgba(152, 162, 179, 1);
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
}


.form-case {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.label-case {
    margin-bottom: 20px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

.input-case {
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(208, 213, 221, 1)
}

.span-button {
    margin-top: 20px;
}

.btn-1 {
    width: 158px; 
    box-sizing: border-box;
    border-radius: 8px;
    height: 50px;
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    background-color: rgba(224, 79, 22, 1);
    color: white;
    margin-right: 5px;
}
.btn-2 {
    width: 101px; 
    height: 50px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    color: rgba(224, 79, 22, 1);
    border: 1px solid rgba(229, 184, 244, 1)
}

@media screen and (max-width: 780px) {
    .container-password {
        width: 50%;
        padding: 10px;
    }

    .Pass-word {
        font-size: 24px;
    }

    .change-p {
        width: 100%;
        font-size: 12px;
    }
    
    .btn-1 {
        margin-bottom: 10px;
    }
}

