.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .description-page-link{
  text-decoration: none;
  color: black; 
} */

.top-description-page-wrapper {
  width: 100%;
}

.product-description-image-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 32%));
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
}

.product-description-image {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-description-image img {
  max-width: 100%;
  object-fit: contain;
}
.home-search {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 3px;
  color: black;
  margin-left: 1vw;
}

.sec-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5vh 1vw 0vh 1vw;
}

.views-time {
  color: #b42318;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}
.price {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--price-green-color);
}

.store {
  color: #828282;
  font-size: 18px;
  height: 28px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.hens-product {
  color: #333333;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;

  color: #00000080;
}

.promoted {
  border: 1px solid #00000080;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90.43px;
  height: 47.43px;
  padding: 1rem;
  font-size: 16px;
}

.set-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.set-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.color-selection {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.set-color {
  width: 424px;
  height: 54px;
  padding: 15px, 12px, 15px, 12px;
  border-radius: 4px;
  border: 1px solid #00000080;
  gap: 8px;
}

.sectwo {
  display: flex;
  flex-direction: column;

  /* width: 397px; */
  height: 268px;
  /* border: 1px solid green; */
}

.wishlist {
  display: flex;
  width: 10.5rem;
  height: 3.6rem;
  border-radius: 5px;
  border: 1px solid var(--orange-color);
  margin-top: 1rem;
  font-size: 1rem;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: var(--orange-color);
}
.wishlist:hover {
  width: 10.6rem;
  height: 3.7rem;
  font-size: 1.1rem;
}

.sub-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.shop-owner-profile-pic{
  object-fit: contain;
  border-radius: 100%;
  width: 8vw;
  height: 8vw;
}

.data-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.data-group p {
  font-weight: 700;
}
.chat-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 34px;
  padding: 3px, 7px, 3px, 7px;
  border-radius: 5px;
  border: 1px solid #219653;
  gap: 0.5rem;
  cursor: pointer;
}

.chat-group p {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: #219653;
}

.add-to-cart {
  display: flex;
  width: 10.5rem;
  height: 3.6rem;
  border-radius: 5px;
  border: 1px solid var(--orange-color);
  margin-top: 1rem;
  font-size: 1rem;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: white;
  background-color: var(--orange-color);
  cursor: pointer;
}

.add-to-cart:hover {
  font-size: 1.1rem;
  width: 10.6rem;
  height: 3.7rem;
}

.quantity-modal-container {
  position: absolute;
  right: 20vw;
  top: 90vh;
  z-index: 1000;
}
