*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
}
/* global.css */
:root {
  --orange-color: #e04f16;
  --black-color: #000;
  --normal-text-color: #00000080;
  --input-placeholder-color: #00000080;
  --price-green-color: #219653;
}
